* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Container {
  width: 100%;
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main-card {
  width: 420px;
  height: 360px;
  border: 1px solid #e5e7eb;
  background-color: blue;
  /* background-color: #FFFFFF ; */
  border-radius: 24px;
  padding: 32px;
  display: flex;
  justify-content: center;
  
}

#battery-box {
  width: 120px;
  height: 120px;
  background-color: pink;
  display: flex;
  align-items: center;
}
.battery-icon {
  width: 96px;
  height: 96px;
  background-color: green;
  border-radius: 16px;
  border: 2px solid #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}
#battery-inside {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  background-color: #cbd5e1;
}
.battery-full{
  width: 60px;
  height: 80px;
  border-radius: 16px;
  /* background-color: #22C55E; */
  background-color: #3B82F6;
  display: flex;
}
#battery-tip {
  width: 8px;
  height: 32px;
  border-radius: 4px;
  background-color: #1f2937;
}
#box-gap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  
}
.percentage-text {
  font-family: Manrope;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #1f2937;
  display: none;
}

#charging-box {
  width: 110px;
  height: 36px;
  border-radius: 999px;
 /* background-color: #F3F4F6; */
 /* background-color: #dcfce7; */
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.charging-icon{
  width: 14px;
  height: 14px;
  background-image: url(/picture/charge-icon.png);
  background-size: cover;
  /* background-color: #22C55E; */
 
}
#icon-box{
  width: 90px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  display: none;
  background-color: #dcfce7;
  border-radius: 999px;
}
.charging {
  font-weight: 600;
  font-size: 18px;
  color: #15803D;
  
}
.charging-big{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#battery-text{
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: #6B7280;
}
#Active-charging-text{
  display: none;
}
/* Battery-empty */
.battery-empty{
  font-weight: 700;
  font-size: 56px;
  color: #CBD5E1;
  display: none;
}
.empty-text{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #4b5563;
  display: none;
}
.empty-text1{
  font-weight: 500;
  font-size: 16px;
  color: #6B7280;
  display: none;
 
}
/* battery-loading */
.battery-loading{
  font-weight: 700;
  font-size: 56px;
  color: #E2E8F0;
}
.loading-text{
  font-weight: 600;
  font-size: 16px;
  color: #1E40AF;
}
.loading-background{
  background-color: #EFF6FF;
}
.battery-loading-text1{
  font-weight: 500;
  font-size: 16px;
  color: #6B7280;
}
/* battery-error */

